@model IEnumerable<Charades.Domain.Entities.Word>

<script>
    $(document).ready(function (e) {
        AddAutocomplete();
    });
 </script>
@{
    ViewBag.Title = "Search";
}

<div class="searchbar">
    <input id="autocomplete" type="search"/>
    <span></span>
</div>



